.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

div.info-right-holder::-webkit-scrollbar,
div.information-container::-webkit-scrollbar,
div.unit-container::-webkit-scrollbar{
    width: 12px;
}
 
div.info-right-holder::-webkit-scrollbar-track,
div.information-container::-webkit-scrollbar-track,
div.unit-container::-webkit-scrollbar-track{
   -webkit-box-shadow: inset 10px 10px 50px rgba(63, 63, 63, 1);
    border-radius: 10px;
}
 
div.info-right-holder::-webkit-scrollbar-thumb,
div.information-container::-webkit-scrollbar-thumb,
div.unit-container::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 130px rgba(178, 178, 178, 1); 
}

.unit-view td:hover {
    background: red;
}
.newline{
   margin: 10px 0; 
}

h1,h2,h3,h4,h5,h6{
 font-weight: bold!important;
    color: #333333;
}
html{
 height: 100%; 
}

.left-abs{
    position: absolute;
    width: 240px;
    background: white;
    height: 100%;   
}

.right-abs{
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    position: absolute;
    top:104px;
    left: 240px;
    height: calc(100% - 104px);
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
    position: relative;
    background: url('../images/bg.jpeg') no-repeat;
   -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-attachment: fixed;
    overflow: auto;
  /*  overflow: hidden;
    overflow-y: auto;*/
    
    /*display: inline-table;*/
}

.main-container{
     width:100%;
     height: 100%;
}

.display-none{
    display: none;    
}

.no-margin{
    margin: 0!important;
}

.forgot-input{
    width: 97%;
    background: #b7b8a1;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    border: 0;
    color: #333333;
    font-size: 15px;
}

select.forgot-input{
 width: 100%;   
}

.no-overflow{
    overflow: hidden!important;
}

/** LOGIN **/

.main-logo-container{
    overflow: auto;
    overflow-x: hidden;
   /* position: relative;*/
    
    /* display: inline-table; */
}

.main-init-height{
    height: initial;
}

.left-container-login{
     height: 100%;
     background: rgba(255, 255, 255, 0.75);
     width: 40%;
}

.left-holder-login{
    width: 100%;
    height: 90%;
    display: table;
}

.left-holder-login2{
	display:none;
}

.logo-container{
    float: none;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.logo-container img{
     width: 235px;   
}

.footer-login-container{
    bottom: 35px;
    position: absolute;   
}

.footer-login-container2{
    bottom: 10px;
    position: absolute;   
}

.test {
    display: block;
}

.copyright-holder,
.vendor-holder{
    width: 100%;
    font-size: 12px;
    color: #666666;
    padding: 0 0 0 15px;
}

.copyright-holder2,
.vendor-holder2{
    width: 100%;
    font-size: 10px;
    color: #666666;
    padding: 0 0 0 15px;
}


.vendor-holder a{
    width: 100%;
    font-size: 12px;
    color: #666666;
    text-decoration: underline;
}

.vendor-holder2 a{
    width: 100%;
    font-size: 12px;
    color: #666666;
    text-decoration: underline;
}

.right-container-login{
    width: 60%;
    height: 100%;
    display: table;
    background: rgba(255, 255, 255, 0.5);
}

.form-container-login{
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.login-form{
    width: 330px;
    float: none;
    margin: auto;
}

.forgot-form{
   width: 585px;
    float: none;
    margin: auto;
}

.form-list li{
    width: 100%; 
    margin: 5px 0;
}

.login-txtbox-holder{
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    padding: 7px 0;
    border-radius: 5px;
}

.login-txtbox-holder input{
    width: 83%;
    background: transparent;
    border: 0;
    /* height: 100%; */
    padding: 5px 0 5px 15px;
    color:#333333;
}

.login-txtbox-holder input:focus,
.btn-login:focus,
.btn-cancel:focus,
.btn-floorplan:focus
.forgot-input:focus{
    outline: 0;
}

.login-txtbox-holder label{
    width: 10%;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: 3px;
}

.login-txtbox-holder label i{
    color: #333333;
    font-size: 25px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #585e48;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #585e48;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #585e48;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #585e48;
}

.btn-login{
    width: 100%;
    color: white;
    background: #6d9c32;
    border: none;
    border-radius: 3px;
    padding: 10px 0;
    cursor: pointer;
    
    -webkit-transition: all .3s ease-in-out ;
    -moz-transition: all .3s ease-in-out ;
    -o-transition: all .3s ease-in-out ;
    transition: all .3s ease-in-out;
}

.btn-login:hover{
    
    background:#628c2e;
    
    -webkit-transition: all .3s ease-in-out ;
    -moz-transition: all .3s ease-in-out ;
    -o-transition: all .3s ease-in-out ;
    transition: all .3s ease-in-out;
}

.btn-cancel{
    width: 100%;
    color: white;
    background: #8AC43F;
    border: none;
    border-radius: 3px;
    padding: 10px 0;
    cursor: pointer;
}

.btn-floorplan{
    width: 100%;
    color: white;
    background: #8ac43f;
    border: none;
    border-radius: 3px;
    padding: 10px 0;
    cursor: pointer;
    
    -webkit-transition: all .3s ease-in-out ;
    -moz-transition: all .3s ease-in-out ;
    -o-transition: all .3s ease-in-out ;
    transition: all .3s ease-in-out;
}

.btn-floorplan:hover{
    background: #91CD44;
    
    -webkit-transition: all .3s ease-in-out ;
    -moz-transition: all .3s ease-in-out ;
    -o-transition: all .3s ease-in-out ;
    transition: all .3s ease-in-out;
}
.terms-link-holder{
    cursor: pointer;
    font-size: 13px;
    color: #000000!important;
    text-decoration: underline;
}

.terms-link-holder{
     float: right;   
     text-align: center;
}

.error-msg-login-holder{
    color: #FF6600!important;
    font-size: 13px;
    padding: 0 0 0 15px;
    opacity: 0;
}

.error-msg-login-holder2{
    color: #FF6600!important;
    font-size: 13px!important;
    opacity: 0;
    margin: 0 10px 0 0;
}

.opacity-one{
    opacity: 1;
}

.forgot-table{
    width: 100%;
}

.forgot-table tbody lower-info-btn-containertr td{
    padding: 15px 0;
}

.forgot-table tbody tr td:first-child{
    font-size: 15px;
    color: #333333;
    line-height: 40px;
    width: 185px;
}

.modal-terms,
.modal-upload{
    border-radius: 10px;
    padding: 0 15px;
}

.modal-upload{
    height: 435px!important;
}

.modal-terms .closeHolder,
.modal-print .closeHolder{
     font-size: 15px;   
}

.modal-terms .closeHolder i,
.modal-print .closeHolder i{
    font-size: 20px;
}

.terms-message {
    overflow-y: auto;
    height: 200px;
}
    


.terms-message p,
.terms-container p{
    margin: 15px 0 0;
    font-size: 13px;
}

.messageHolder h3{
    font-weight: bold;
}

.imgHolder{
    width: 100%;
    height: 430px;  
    margin: 20px 0 0;
    text-align: center;
}

.imgHolder img{
    max-width:100%;
    max-height:100%;
   /*  width: 100%;
   height: 100%; */
}

.modal-thumb{
    width: 430px!important;
    height: 500px!important;
}

.modal-thumb2{
   width: 673px!important;
    height: 341px!important;
}
/** END LOGIN **/

/** NAVIGATION **/

.left-container{
    height: 100%;
    position: absolute;
    z-index: 2;
    
    
   /* height: inherit;
position: relative;*/
}

.left-holder{
    width: 240px;
    background: white;
    height: 100%;
    -webkit-box-shadow: rgb(97,97,97) 0px 0px 19px;
    box-shadow: rgb(97,97,97) 0px 0px 19px;
}
/*** adjustement ***/
.logo-holder{
    width: 100%;
    height: 200px;
    color: white;
    text-align: center
}
/*** adjustement ***/
.logo-holder img{
    max-width: 100%; 
    max-height: 100%
    
}

.link-list li{
    width: 100%;
    border-top: 1px solid #e3e3e3;
    /*padding: 14px 0;*/
    
    height: 50px;
    line-height: 55px;
    cursor: pointer;
}

.link-list li span{
    height: 100%;
    line-height: 55px;
    width: 100%;
}

.link-list li:last-child{
    border-bottom: 1px solid #e3e3e3;
}

.link-list li a{
    color: #666666; 
    padding: 0 0 0 25px;
    font-size: 14px;
    line-height: 52px;
}

.company-caret{
    color: #666666; 
    padding: 0 0 0 25px;
    font-size: 14px;
    line-height: 52px;
    
    float: right;
    margin: 18px 30px 0 0;
}

.company-caret2{
    color: #666666; 
    padding: 0 0 0 25px;
    font-size: 14px;
    line-height: 52px;
    
    float: right;

    margin: 2px 5px 0 0;
    color: white;
}

.link-list li a i{
    font-size: 20px;  
    margin: 0 10px 0 0;
}

.nav-slider-container{
   width: 240px;
    height: 100%;
    position: absolute;
     z-index: -1;
    left: 0;
    
    -webkit-transition: all .5s ease-in-out ;
    -moz-transition: all .5s ease-in-out ;
    -o-transition: all .5s ease-in-out ;
    transition: all .5s ease-in-out;
    
}

.nav-slider-holder{
    /*background: rgba(109, 155, 48, 0.95);*/
    background: rgba(109, 155, 48, 1);
    color: white;
    width:100%;
    height: 100%;
    display: none;
}

.nav-slider-holder2{
    background: #88AD57;
    color: white;
    width:100%;
    height: 100%;
    display: none;
}

.active-slider{
    display: table;
}

.link-slider-slide{
    left:240px;
  
   -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out ;
    -o-transition: all .5s ease-in-out ;
    transition: all .5s ease-in-out;
}

.link-slider-slide-third-level{
    left:240px;
  
   -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out ;
    -o-transition: all .5s ease-in-out ;
    transition: all .5s ease-in-out;
}

.active-li span{
    border-left: 5px solid #66646e;
     background: #6e9b2f;
}

.active-li i{
    color: white;
    margin: 18px 30px 0 0;
}

.active-li span a{
    color: white;
    padding: 0 0 0 20px;
}

/** END NAVIGATION **/

/** CONTENT **/

.right-container{
    
    width: calc(100% - 240px);
    position: relative;
    left: 240px;
    
}

.header-container{
    width: 100%;
    height: 60px;
    background: rgba(102, 102, 102, 0.5);
}

.header-holder{
    width: 1024px;
    float: none;
    margin: 0 auto;
}

.task-icon-container{
	font-size: 30px;
	color: #505252;
	display: none;
    cursor: pointer;
}

.page-title-container{
    margin: 12px 0 0 35px;
}

.page-title-container h2{
    color: white;
    font-weight: bold;
}

.right-holder{
    height: calc(100% - 60px);
    /*height: 100%;*/
    width: 100%;
    position: relative;
    opacity: 1;
    left: 0;
}

.image-gallery-container{
     width: 100%;
    float: none;
    margin: 45px auto 0;
}

.image-gallery-list{
    padding: 0 30px;
    height: 100%
}

.image-gallery-list li{
    border:1px solid black;
   /* height: calc(89% / 3);*/
    height: 172px;
    width: calc(93% / 3);
    margin: 10px;
    float: left;
    cursor: pointer;
    
    width: 342px;
    height: 275px;
    overflow: hidden;
    position: relative;
}

.image-gallery-list li span.gallery-label{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
   
    font-size: 18px;
    text-transform: capitalize;
    left:0;
}

.place-name-holder{
    color: white;
    padding: 15px 0 15px 15px;
}

.view-details-holder{
    float: right;
    padding: 17px 15px 15px;
    font-size: 15pt;
    display: none;
}

.view-details-holder a{
     color: white;
}

.image-gallery-list li img{
    width: 100%;
    height: 100%;
}

.header-option-holder{
    float: right;
    padding: 13px 39px 0 0;
}

.header-option li{
     padding: 0 10px; 
    cursor: pointer;
}

.header-option li i{
    font-size: 30px; 
    color: white;
}

.logo-right-container{
	height: 100%;
    display: none;
}


.image-gallery-full-container{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    
}

.image-gallery-full-holder{
     display: none;   
}

.right-holder-slide{
    left: 100%;
    opacity: 0;
    
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out ;
    -o-transition: all .8s ease-in-out ;
    transition: all .8s ease-in-out;
}

.image-gallery-full-container-slide{
    right:0px!important;
    opacity: 1;
    
   -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out ;
    -o-transition: all .8s ease-in-out ;
    transition: all .8s ease-in-out;
}

.list-scroll{
    width: 100%;
    float: none;
    display: table-cell;
    vertical-align: middle;  
}

ul#list {
    width: 100%;
     height: 276px; 
    overflow-y: hidden;
    position: relative;
}

ul#list li{
     width: 100%; 
    position: relative;
    cursor: pointer;
}

ul#list li span{
    width: 83%;
    margin: 0 10px;
    border-bottom: 1px solid white;
    padding: 12px 10px;
    font-size: 14px;
}

ul#list li a{
    color:white;    
}

ul#list li:last-child,
.no-border-bottom span{
     border-bottom:none!important;
}

#up,#down,
#up2,#down2{
     width: 100%;   
    height: 20px;
    text-align: center;
}

#up i{
    display: none;
}

#up i, #down i,
#up2 i, #down2 i{
    cursor: pointer;
    opacity: 0.5;
    color: rgb(27, 27, 27);
    font-size: 20px;
}

#up i:hover, #down i:hover,
#up2 i:hover, #down2 i:hover{
     opacity: 1;
}

.active-second{
    background: #88AD57;    
}

.link-container{
 /***  margin: 50px 0 0; ***/
    width: 100%;
    overflow: hidden;
}

.bread-container{
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    height: 46px;
}

.bread-holder{
    float: left;
    line-height: 20px;
    margin: 13px 0 0 35px;
    font-size: 13px;
}

.back-holder{
    float: right;
    font-size: 14px;
    margin: 13px 55px 0 0;
    
}

.back-holder a{
    color: #333333;
}

.back-holder i{
     font-size:20px;   
}

.bread-list li + li:before{
    padding: 0 3px 0 10px;
    content:"> ";
    
}

.bread-list li:last-child a {
    text-decoration: underline;
}

.right-content{
    width: 100%;
    height: calc(100% - 46px);
}

.info-container{
    width: 100%;  
    overflow: hidden;
    background: rgba(255, 255, 255, 0.75);
   padding: 35px 0;
   position: relative;
   /* height: calc(100% - 20px);*/
}

.info-left{
     width: 40%;
    margin: 0 0 0 10px; 
}

.info-right{
     width: 58%; 
}

.info-left-img-holder{
    max-width: 377px; 
    height: 674px;
   /* height: 640px;*/
    margin: 0 auto;
    float: none;
}

.info-left-img-holder img{
    width: 100%;
}

.info-right-holder{
    height: 534px;
    /*width: 550px;*/
    overflow: auto; 
    position: relative;
    top: 55px;
    padding: 0 60px 0 30px;
}

.thumb-list,
.thumb-list2{
    float: left;
}

.thumb-list li,
.thumb-list2 li{
    cursor: pointer;
    width: 97px;
    height: 97px;
    margin: 10px 5px;
}

.thumb-list li img,
.thumb-list2 li img{
    height: 100%;
    width: 100%;
}

.project-info-content{
 font-size: 13px;   
}

.project-info-content p{
    margin: 20px 0;
}

.project-thumbnails{
    width: 100%;
    margin: 50px 0 40px;   
}

.project-button-holder{
     width: 215px;   
}




.header-drop-container{
    position: absolute;
    right: 50px;
    top: 56px;
    z-index: 20;
}

ul.header-list li:first-child{
    border-top:none;
}

ul.header-list li {
    width: 100%;
    text-align: center;
    border-top: 1px solid black;
    font-size: 13px;
}

ul.header-list li a {
    display: block;
    padding: 5px 15px;
}
.arrow-up {
    position: relative;
    top: -5px;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
}

.header-drop{
    background: white;
    border-radius: 5px;
}

#help-drop-holder{
    position: absolute;
    right: 85px;
    top: 54px;
    display: none;
    z-index: 2;
}

#settings-drop-holder{
    position: absolute;
    right: 72px;
    top: 54px;
    display: none;
    z-index: 2;
}

.upper-info-container{
     width: 100%;   
}

ul.floor-list li{
    width: 54px;
    height: 38px;
    background: #cccccc;
    border: 1px solid #b2b2b2;
    text-align: center;
    color: #4c4c4c;
    line-height: 40px;
}

ul.floor-list li.active-floor{
    background: #ffff66;
}
/* table v2 .sample{
 width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.sample tr td{
     font-size: 10pt;   
}*/

.floor-container{
     width: 54px;
     position: relative;
     left: 15px;
}

.unit-container{
    width: 90%;
    overflow-x: auto;
    position: relative;
    left: 30px; 
}

table.unit-table{
    width: 99%;
    border-collapse: collapse;
    border:none;
}

table.unit-table tbody tr td{
    padding:10px;
    font-size: 14px;
    text-align: center;
    border-color: #797979;
}

table.unit-table thead tr.unit-letter td{
    padding:10px;
    font-size: 14px;
    background: #666666;
    border-color: #666666;
    color: white;
    text-align: center;
}

table.unit-table thead tr.unit-view td{
     padding:10px;
    background: #999999;
    border-color: white;
    border-bottom: none;
    border-top: none;
    color: white;
    text-align: center;
    font-weight: bold;
    color:white;
    font-size: 14px;
    cursor: pointer;
    
    -webkit-transition: all .3s ease-in-out ;
    -moz-transition: all .3s ease-in-out ;
    -o-transition: all .3s ease-in-out ;
    transition: all .3s ease-in-out;
}

table.unit-table thead tr.unit-view td:hover{
    background: #A1A1A1;
    
    -webkit-transition: all .3s ease-in-out ;
    -moz-transition: all .3s ease-in-out ;
    -o-transition: all .3s ease-in-out ;
    transition: all .3s ease-in-out;
    
}

table.unit-table thead tr.unit-view td:first-child{
    border-left: none;
}

table.unit-table thead tr.unit-view td:last-child{
    border-right: none;
}
.sold-unit{
 background: #3366ff;
    color: white;
}

.tab-unit-container{
    position: relative;
    left: 30px;
}

ul.tab-unit-list li{
    border-top: none;
    border: 1px solid #797979;
    padding: 13px 40px;
    font-size: 14px;
    background: #999999;
    color: white;
    cursor: pointer;
    
    -webkit-transition: all .3s ease-in-out ;
    -moz-transition: all .3s ease-in-out ;
    -o-transition: all .3s ease-in-out ;
    transition: all .3s ease-in-out;
}

ul.tab-unit-list li:hover{
    background: #A1A1A1;
    
    -webkit-transition: all .3s ease-in-out ;
    -moz-transition: all .3s ease-in-out ;
    -o-transition: all .3s ease-in-out ;
    transition: all .3s ease-in-out;
}

ul.tab-unit-list li.active-tab-unit{
     background: #333333; 
    
    -webkit-transition: all .3s ease-in-out ;
    -moz-transition: all .3s ease-in-out ;
    -o-transition: all .3s ease-in-out ;
    transition: all .3s ease-in-out;
}

ul.tab-unit-list li.active-tab-unit:hover{
    background: #454545;
    
    -webkit-transition: all .3s ease-in-out ;
    -moz-transition: all .3s ease-in-out ;
    -o-transition: all .3s ease-in-out ;
    transition: all .3s ease-in-out;
}
td.legend-color{
   width: 30px;
    padding: 0px;
}

.white{
    background: white;   
}

.green{
    background: #009900;
}

.blue{
    background:#3366ff;   
}

.orange{
    background:#cc6600;
}

.lower-info-holder{
    position: relative;
    left: 80px;
    padding: 25px 0;
    width: 90%;
}
.legend-container{
   
    float: left;
}

table.legend-table tbody tr td{
    padding: 3px 0;
    font-size: 14px;
}

table.legend-table thead th{
    text-align: left;
    padding: 10px 0;
    font-size: 14px;
}

table.legend-table thead th:last-child{
    padding: 10px 0 0 10px;
}

table.legend-table tbody tr td:first-child{
    font-weight: bold;    
    padding: 0 80px 0 0;
}

table.legend-table tbody tr td:last-child{
    padding: 3px 0 0 10px;    
}

.lower-info-btn-container{
    float: right;
    padding: 20px 45px 15px 0px;
}

.lower-info-btn-container a button{
    margin: 10px 0;  
    padding: 20px 0;
}

.lower-info-container{
    width: 100%;
    
}

.left-floorplan-container{
    width: 68%;
    margin: 0 0 0 12px;
}

.right-floorplan-container{
    width: 307px;
    margin: 0 0 0 10px;
    position: absolute;
    right: 0;
    top: 0;
    background: #F2F2F2;
    height: 100%;
}

.floorplan-lg{
    width: 75%;
}

.floorplan-small{
     width: 25%;  
}

.floorplan-small-holder{
    width: 189px;
    height: 180px;
}

.floor-lg-holder{
    width: 555px;
    height: 618px;
    float: none;
    margin: 0 auto;
    text-align: center;
}

.logo-right-container img{
	margin: 0 0 0 40px;
    max-width: 100%;
    max-height: 90%;
}
.floor-lg-holder img,
.floorplan-small-holder img{
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.unit-details-holder,
table.unit-details-table{
     width: 100%;   
}

.floorplan-label-container{
    width: 90%;
    padding: 40px 0 15px;
}

table.unit-details-table thead tr{
    background: #6D9B30;
}

table.unit-details-table{
    border-collapse: collapse;
    margin: 0 0 20px 0;
}

table.unit-details-table thead tr td,
table.unit-details-table tbody tr td{
     color:#333333;  
    font-weight: bold;
    font-size: 13px;
}

table.unit-details-table thead tr td{
     padding: 10px 0 10px 35px;
}

table.unit-details-table tbody tr td:first-child{
    padding: 5px 0 5px 35px;
}

table.unit-details-table tbody tr td{
    padding: 5px 0 5px 0px;
}

table.unit-details-table tbody tr:first-child td{
    padding-top: 15px;
}

span.floorplan-view-label{
    float: left;    
    padding: 0 0 0 35px;
}

span.floorplan-view-label a{
     text-decoration: underline;
    font-size: 14px;
    font-weight: bold;
}

span.floorplan-buyers-label{
     float: left; 
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 0 35px;
    margin: 15px 0 0;
}

.floorlable{
    color: white!important;
}

.unit-details-container{
   width: 100%;
}

.prequalify-container{
    width: 90%;
    margin: 65px 0 0;
}

.prequalify-holder{
    width: 215px;
    float: none;
    margin: 0 auto;
}

.form-title-container{
    width: 100%;
    padding: 13px 0;
    background: rgba(245, 245, 245, 0.6);
    color: #333333;
    background: #ABCE36;
}

.form-title-holder{
    margin: 0 0 0 35px;
    font-weight: bold;
    font-size: 14px;
    color: #333333;
}

.step-holder{
    margin: 0 0 0 50px;
    font-size: 13px;
}

.prequalify-main{
   padding: 0 0 47px;  
    position: relative;
}

.prequalify-form-container-left{
    float: left;
    padding: 50px 0 0;
    width: calc(100% - 222px);
}

.prequalify-form-container-right{
   height: 100%;
    width: 222px;
    right: 0;
    position: absolute;
    background: #F2F2F2;
}

.note-container{
    color: #FF6600;
    font-size: 13px;
    margin: 50px 0 0 20px;
}

.note-container2{
    color: #737373;
    font-size: 13px;
    
}

.next-container{
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.next-holder{
     width: 188px;
    position: absolute;
    bottom: 20px;
    left: 15px;
}

.print-holder{
     width: 188px;
     margin: 40px 15px 0;
}

.print-btn{
    margin: 5px 0;
}

.left-form,
.right-form{
    width: 40%;
    padding: 0 40px;
}

.form-list li span{
    width: 100%;  
    color: #333333;
    padding: 5px;
    
}

.form-list2 li:first-child{
    
}
/*.form-list2 li span{
    width: initial;
}*/
.form-element{
    margin: 10px 0 0;    
}

.form-element .biggerwidth{
    width: 375px!important;    
}

.form-element select{
    width: 200px;
    padding: 6px 5px;
}

.datepicker-container{
    width: 200px!important;
    background: white;
    border: 1px solid #A9A9A9;;
}

.datepicker-container i{
    font-size: 22px;  
    float: right;
}

.datepicker-container input{
     border: none;   
    width: 85%;
}

ul.step-list{
    display: inline;
    float: right;
    margin: 1px 0 0 15px;
}

ul.step-list li:nth-child(odd){
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: inline-block;
   /* margin-right: 20px;*/
    background: white;
    border: 1px solid #999999;
}

ul.step-list li.active-step{
    background: #FF9900!important;
}

span.line{
    width: 20px;
    border-top: 1px solid #999999;
    margin: 8px 0;
}

.form-container,
.information-container{
    padding: 0 5px 0 35px;
    margin: 0 15px 0 0;
    overflow-x: hidden!important;
}

.information-container{
    font-size: 13px;
    height: 534px;
    overflow: auto;
}

.upper-prop-info{
    margin: 40px 0 0;
    width: 100%;
    font-size: 13px;
}

.form-list2 li{
    width: initial;
}

.form-four-field li:first-child *:not(span):not(i),
.form-three-field li:first-child *:not(span):not(i){
    width: 245px!important; 
    padding: 6px 5px;
}

.form-four-field li *:not(span){
    padding: 6px 5px;
}

.form-three-field li *:not(span):not(i),
.form-three-field li:first-child *:not(span):not(i){
    padding: 6px 5px;
    width: 227px;
}

.form-list2 li:first-child{
     width: 248px;  
     margin: 15px 10px 15px 0;   
}

.form-list2 li:nth-child(2){
     width: 171px;  
     margin: 15px 10px 15px 0;   
}

.form-list3 li:nth-child(2),
.form-list3 li:nth-child(3){
     width: 242px;  
     margin: 15px 10px 15px 0;   
}

.form-list2 li:nth-child(3){
     width: 189px;  
     margin: 15px 10px 15px 0;   
}

.form-list2 li:nth-child(4){
     width: 194px;  
     margin: 15px 10px 15px 0;   
}

.unit-type-holder,
.instruct,
.registered-as{
     width: 100%;   
}

.unit-type label{
   vertical-align: top;  
}
.unit-type-holder span:first-child{
    margin: 0 80px 0 0;    
}

.unit-type label,
.form-list2 li span.form-label{
     font-size: 13px;
     color:#333333;
}

.form-label,
.form-text{
     width: 100%; 
    margin-bottom: 10px;
}

.form-text{
    padding: 6px 0;
}

table.purchase-price-table{
    border-collapse: collapse; 
}

table.purchase-price-table tr td span{
    float: right;  
    margin: 0 0 0 30px;
}

table.purchase-price-table tr td{
    font-size: 13px;
    color:#333333;
   
}

table.purchase-price-table tr td select{
    padding: 6px 5px;
}
table.purchase-price-table tr td:first-child{
     padding: 5px 55px 5px 0;
}

tr.headerrow td,
tr.headerrow td *{
    font-size: 14px;
    color:#333333;
    font-weight: bold;
   
}

thead tr.headerrow td{
     padding: 40px 0 10px!important;
}

tr.headerrow td{
     padding: 20px 0!important;
}

.vat-underline{
    text-decoration: underline;
    display: inline;
    float: none!important;
    margin: 0!important;
}

.payment-table{
    margin: 0 0 0 80px;
}

.datepicker-info{
    width: 230px!important;
}

.datepicker-info input{
    padding: 0!important;
    width: 195px!important;
}
/*ul.step-list li:after{
    content: "-";
}*/

.registered-as{
    padding: 0 0 0 10px;
}

.ra-option-list li{
     width: 100%;  
    margin: 5px 0;
}

.ra-option-list li textarea{
     width: 278px;
    height: 55px;
    resize: none;
}

.label-of-container{
    font-weight: bold;
    width: 100%;
    margin: 50px 0 0;
}

.info-field li{
    width: 242px;
}

.custom-picker{
     width: 100%!important;      
    padding: 5px;
}

.custom-onep,
.individual-buyer-container{
 width: 97%;   
}
.form-of-container{
     width: 100%;  
    padding: 0 10px;
}

.ra-date{
    width: 100%;  
}


.toggle-holder{
     margin: 5px 0 0;   
}

.instruct{
    margin: 15px 0;
}

.options{
    overflow-x: hidden!important;
}

.options  li{
    width: 100%;   
}

.CaptionCont {
    overflow: hidden;
}

.optWrapper{
     width: initial!important;
}

.btn-disable,
.btn-disable:hover{
    background: #CCCCCC;
    color: #FFFFFF;

}

.raform-holder{
    width: 100%;
     margin: 20px 0 0;
}

.raform-holder *{
    padding: 5px 0;
    font-size: 14px;
}

.raform-holder label{
    margin: 0 20px 0 0;
}

.uploadbtn{
    margin: 20px 0 0;
    width: 144px;
}

.upload,
.btnfloor{
    text-align: center;
    font: -webkit-small-control;
}

.btnfloor{
    padding: 20px 0;
}

.print-details-holder{
    padding: 0 0 0 20px;
}

.print-details-holder *:not(h6){
    font-size: 11px;
}

.print-details-holder h6{
    font-size: 12px;
}

.file-holder{
    width: 100%;
}

.file-holder i{
    cursor: pointer;
    color: #666666;

    -webkit-transition: all .3s ease-in-out ;
    -moz-transition: all .3s ease-in-out ;
    -o-transition: all .3s ease-in-out ;
    transition: all .3s ease-in-out;  
}

.file-holder i:hover{
  color: red;
    
    -webkit-transition: all .3s ease-in-out ;
    -moz-transition: all .3s ease-in-out ;
    -o-transition: all .3s ease-in-out ;
    transition: all .3s ease-in-out;
}


.seller-table > table > thead > tr > th{
     width: 80%!important;
}
.seller-table > table > tbody > tr > td{
    width: 80%!important;
}

.payment-scheme-holder{
    margin: 25px 0 0;
    font-size: 13px;
    width: 100%;
}

.payment-scheme-holder span{
    margin: 0 70px 0 0;
}

.floor-label{
    width: 100%;
    text-align: center;
    margin: 10px 0 31px;   
    color: #333333;
    font-size: 13px;
}

.floorContent{
    padding: 0 15px;
    height: 98%!important;
    width: 50%!important;
    border-radius: 5px;
    overflow: hidden;
}

.payment-container{
    width: 100%;
    height: 330px;
}

.next-payment-holder a button{
    margin: 5px 0;
}

.uplabel{
    font-weight: bold;
    margin: 0 0 10px 0;
}

.filepayment{
    margin: 15px 0 0;
}

.upload-col{
    margin: 0 0 0 25px!important;
}

.confirm-container{
   background: rgba(255, 255, 255, 0.4);
   height: 100%;
   padding: 0;
   position: relative;
}

.paymentdetails-container{
    background: rgba(255, 255, 255, 0.75);
}

.right-confirm-container{
    height: 100%;
}

.confirmation-holder{
    width: 400px;
    height: 250px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.payment-details-holder {
    width: 400px;
    height: 400px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.removeweight{
    font-weight: normal!important;
}

.btn-homepage{
    width: 65%;
    padding: 20px 0;
    margin: 40px 0 0;
}

.payment-details-table{
    text-align: left;
    margin: 30px 0;
    font-weight: bold;
}

.note-payment-details{
    text-align: left;
}
/** END CONTENT **/

/*MODALS*/

.termsHolder,
.thumb-listHolder,
.thumb-list2Holder,
.uploadHolder,
.unit-viewHolder,
.floorviewHolder,
.deleteHolder,
.lockHolder,
.editHolder{
 position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.overlay {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0.8;
    z-index: 2;
}

.modalContent {
  position: fixed;
  width: 551px;
  height: 320px;
  background: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
}

.messageContainer{
  width: 100%;
  position: relative;
}

.availableunitContainer{
    height: 90%;
}

.messageHolder{
  padding: 10px 15px;
  overflow-y: auto;
}

.mainModalContainer{
  position: relative;
}

.closeHolder{
  cursor: pointer;
  float: right;
  margin: 10px 0 0;
  color: #666666;
    
  font-size: 12px!important;
  line-height: 21px;
    
  -webkit-transition: all .3s ease-in-out ;
    -moz-transition: all .3s ease-in-out ;
    -o-transition: all .3s ease-in-out ;
    transition: all .3s ease-in-out;  
}

.closeHolder:hover{
  color: #7c7c7c;
    
    -webkit-transition: all .3s ease-in-out ;
    -moz-transition: all .3s ease-in-out ;
    -o-transition: all .3s ease-in-out ;
    transition: all .3s ease-in-out;
}

.prevImg{
    position: absolute;
    height: 100%;
    left: 0;
    display: table-cell;
    line-height: 505px;
    padding: 0 10px;   
}

.nextImg{
    position: absolute;
    height: 100%;
    right: 0;
    display: table-cell;
    line-height: 505px;
    padding: 0 10px;   
}

.prevImg i,
.nextImg i{
    font-size: 70px;
    font-weight: bold;
    color: rgb(224, 224, 224);
    cursor: pointer;
}

.thumb-list2Holder .modalContent .messageContainer .imgHolder,
.unit-viewHolder .modalContent .messageContainer .imgHolder{
    height: initial;
}

.thumb-list2Holder .modalContent .messageContainer .prevImg,
.thumb-list2Holder .modalContent .messageContainer .nextImg{
    line-height: 350px;
}

.imgHolder2{
    max-height: 100%;
    height: 100%;
}
.viewname-holder{
    font-size: 14px;
    float: left;
    margin: 10px 0 0;
    color: #333333;
}
/* 
.show-list{
    display: block!important;
} */
/*END MODALS*/

.height-adjustment {
    height: calc(100% - 46px)!important;
    padding:0;
}

.height100{
    height: 100%;
}


/** STYLE 2 **/


.hide{
	display: none;
}

.make-table{
	display:table;
}

.slider-container{

	position: absolute;
	width: 240px;
	height: 100%;
	background: #6e9b2f;
	z-index: -1;
	left: 0;

	-webkit-transition: all .5s ease-in-out ;
	-moz-transition: all .5s ease-in-out ;
	-o-transition: all .5s ease-in-out ;
	transition: all .5s ease-in-out;  
}

.slider-active{
	left: 240px;
	
	-webkit-transition: all .5s ease-in-out ;
	-moz-transition: all .5s ease-in-out ;
	-o-transition: all .5s ease-in-out ;
	transition: all .5s ease-in-out;  

}

.slider-active2{
	left: 480px;
	
	-webkit-transition: all .5s ease-in-out ;
	-moz-transition: all .5s ease-in-out ;
	-o-transition: all .5s ease-in-out ;
	transition: all .5s ease-in-out;  

}

.nav-slider-holder2{
	display: table;
}

ul#list2 {
    width: 100%;
     height: 276px; 
    overflow-y: hidden;
    position: relative;
}

ul#list2 li{
     width: 100%; 
    position: relative;
    cursor: pointer;
}

ul#list2 li span{
    width: 83%;
    margin: 0 10px;
    border-bottom: 1px solid white;
    padding: 12px 10px;
    font-size: 14px;
}

ul#list2 li a{
    color:white;    
}

ul#list2 li:last-child,
.no-border-bottom span{
     border-bottom:none!important;
}

.list-scroll2{
    width: 100%;
    float: none;
    display: table-cell;
    vertical-align: middle;  
}
