
/**** reservation header  ****/

.reservation-content {
    text-align: center;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #abce36;
}

.reservation-content > .filter {
    font-size: 16px;
    line-height: 37px;
    margin-right: 10px;
}

.list-selection > select {
    height: 36px;
    width: 220px;
    padding-left:10px;

}

.input-group {
    margin-left: 60px;
}

.input-group > input {
    height: 32px;
    width: 220px;
    padding: 0px;
    padding-left:10px;
    
}

.btn-default {
    margin-left: 10px;
    padding: 9px 15px;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #fff;
    background-color: #6d9d32;
    cursor: pointer;
}


.btn-default:hover { 
    background-color: #8ac43f;
}
.btn-dark {
    background-color: #6d9d32;
}

.btn-dark:hover {
    background-color: #628c2e;
}

.csv-btm-group {
    margin-left: 40px;
}
/**** Tables ****/

.table-group {
    width: 100%
}

.table-group > table {
       display: block;
    border-spacing: 0;
    padding-bottom: 54px;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.75);

}

.view-user-list-table > table > tbody > tr > td:first-child,
.view-user-list-table > table > thead > tr > th:first-child{
    width: 30%;
}

.table-group > table > tbody > tr > td:first-child,
.table-group > table > thead > tr > th:first-child{
    text-align: left;
    text-indent: 50px;
}
.table-group > table > thead > tr > th {
    background-color: #999999; 
    font-weight: normal;
    color: #fff;
    border-left: 1px solid #fff;

}

.table-group > table > tbody > tr > td {
    text-align: center;  
    height: 50px;
    line-height: 50px;
    border-right: 1px solid #bcbcbc;
    margin: 0;
    padding: 0;
    font-size: 16px;
    
}


.reservation-table > table > thead > tr > th,
.seller-reservation-table > table > thead > tr > th{
    width: 37%;
}

.reservation-table > table > tbody > tr > td,
.seller-reservation-table > table > tbody > tr > td{
    width: 37%;
    
}

.view-user-list-table > table > thead > tr > th {
    width: 20%;
    background-color: #999999;
    font-weight: normal;
    color: #fff;
    border-left: 1px solid #ccc;
}
.view-user-list-table > table > tbody > tr > td {
    width: 20%;
    border-right: 1px solid #bcbcbc;
 
}

.table-group > table > thead > tr > th,
.table-group > table > tbody > tr > td {
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;  
    height: 50px;
    line-height: 50px;
}

.table-group > table > thead > tr > th:last-child {
    width: auto;
}

.table-group > table > tbody > tr > td:last-child {
    width: auto;
}

.table-group thead {
    display: block;
    width: 100%;
    overflow-y: scroll;
    background-color: #bcbcbc;
}
	
.table-group tbody.scrollContent {
    display: block;
    overflow-y: scroll;
    height: 400px;
    width: 100%
}
	
.table-group > table > tbody > tr > td > a{
    line-height: 50px;
    text-decoration: underline;
}

.table-group > table > tbody > tr:nth-child(even) {
    background: #f2f2f2;
}

.table-group > table > tbody > tr:nth-child(odd) {
    background: #e4e4e4;
}


.table-group > table > thead > tr,
.table-group > table > tbody > tr {
    width: 100%;
    display: inline-table;
}

.table-group > table > thead::-webkit-scrollbar {
    background-color: inherit;
}


.table-group tbody.scrollContent::-webkit-scrollbar {
    width: 12px;
    margin-right: -20px;
}
 
.table-group tbody.scrollContent::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 10px 10px 50px rgba(63, 63, 63, 1);
    border-radius: 10px;
}
 
.table-group tbody.scrollContent::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 130px rgba(178, 178, 178, 1); 
}


.name-balloons {
    float: none;
    margin-left:20px;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 1;
    color: #000;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
}
.approval-content {
    float: none;
    background-color: red;
    margin: 0 auto;
    display: block;
    width: auto;
    
}
.approval-container {
    padding: 0;
    width: 100%;
}

.approval-container > h2 {
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 40px;
    font-size: 32px;
}

.sub-content {
    width: 50%;
    
}
.sub-content h3 {
    font-size: 20px;
}

.sub-content h3,
.sub-content ul{
    margin-left: 35px;
    margin-right: 35px;
    
}

 ul.text-content > li {
    float: none;
    list-style:square inside;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 13px;
}

.form-label{
    font-size: 13px;
}
.form-element > input {
    padding:5px 0;
    width: 280px;
}

.form-element > select {
    width: 280px;
}
.form-element {
    margin-top: 0;
}

.padding-off {
    padding: 0;
}

.sub-right-container {

    padding:20px 20px 20px 20px;
    float: none;
}

.sub-right-container > p{
    color: #F60;
    font-size: 13px; 
}

.btn-container {
    width: 100%;
}
.btn-container  {
    float: none;
    margin-top: 30px;
    text-align: center;
}

.btn-container  span{
    float: none;
}