
/**** reservation header  ****/

.reservation-content {
    text-align: center;
    padding-left: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #abce36;
    height: 50px;
   line-height: 190px;
}

.sub-header {
    background-color: #abce36;
    width: 100%;
    height: 60px;
}

.sub-header h3{
    line-height: 60px;
    font-weight: bold;
    font-size: 16px;
    margin-left: 35px;
}



.header-input {
margin-top: 6px;
}

.header-input > .filter {
    font-size: 16px;
    line-height: 37px;
    margin-right: 10px;
}


.list-selection > select {
    height: 36px;
    width: 200px;
    padding-left:10px;

}

.input-group {
    margin-left: 50px;
}

.input-group > input {
    height: 33px;
    width: 200px;
    padding-left:10px;
    
}

.btn-wide {
    padding: 9px 50px;
    margin-left: 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #fff;
    background-color: #6d9d32;
    cursor: pointer;
    
     -webkit-transition: all .3s ease-in-out ;
    -moz-transition: all .3s ease-in-out ;
    -o-transition: all .3s ease-in-out ;
    transition: all .3s ease-in-out;
}
.btn-default {
    margin-left: 10px;
    padding: 9px 15px;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #fff;
    background-color: #6d9d32;
    cursor: pointer;
    
    -webkit-transition: all .3s ease-in-out ;
    -moz-transition: all .3s ease-in-out ;
    -o-transition: all .3s ease-in-out ;
    transition: all .3s ease-in-out;
}


.btn-dark {
    background-color: #6d9d32;
    
    -webkit-transition: all .3s ease-in-out ;
    -moz-transition: all .3s ease-in-out ;
    -o-transition: all .3s ease-in-out ;
    transition: all .3s ease-in-out;
    
}

.btn-dark:hover,
.btn-default:hover{
    background-color: #628c2e;
    
    -webkit-transition: all .3s ease-in-out ;
    -moz-transition: all .3s ease-in-out ;
    -o-transition: all .3s ease-in-out ;
    transition: all .3s ease-in-out;
    
}

.csv-btm-group {
    margin-left: 80px;
   
}
/**** Tables ****/

.table-group {
    width: 100%
}

.table-group > table {
       display: block;
    border-spacing: 0;
    padding-bottom: 54px;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.75);

}

.view-user-list-table > table > tbody > tr > td:first-child,
.view-user-list-table > table > thead > tr > th:first-child{
    width: 30%;
}

.table-group > table > tbody > tr > td:first-child,
.table-group > table > thead > tr > th:first-child{
    text-align: left;
    text-indent: 50px;
}

.view-group-list-table > table > thead > tr > th,
.view-group-list-table > table > tbody > tr > td {
    width: 30%;

}

.amortization-table > table > tbody > tr > td:first-child,
.amortization-table > table > thead > tr > th:first-child{
    text-align: center;
    text-indent: 0;
}

.reservation-table > table > thead > tr > th,
.seller-reservation-table > table > thead > tr > th{
    width: 37%;
}

.reservation-table > table > tbody > tr > td,
.seller-reservation-table > table > tbody > tr > td{
    width: 37%;
    
}

.reports-user > table > thead > tr > th,
.reports-user > table > tbody > tr > td{
    width: 60%;
}

.amortization-table > table > thead > tr > th,
.amortization-table > table > tbody > tr > td {
    width: 35%;
    
}
.view-user-list-table > table > thead > tr > th,
.view-user-list-table > table > tbody > tr > td {
    width: 20%;

}


.view-group-list-table > table > thead > tr > th,
.view-group-list-table > table > tbody > tr > td {
    width: 25%;

}
.amortization-table > table > thead > tr > th > select{
    background-color: inherit;
    border: 0;
    font-size: 16px;
    color: #fff;
    padding: 0px 10px;
}


.table-group > table > thead > tr > th {
    background-color: #999999; 
    color: #fff;
    border-left: 1px solid #fff;

}

.table-group > table > tbody > tr > td {
    border-right: 1px solid #bcbcbc;
    color: #000;
}

.table-group > table > thead > tr > th,
.table-group > table > tbody > tr > td {
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;  
    height: 50px;
    line-height: 50px;
}

.table-group > table > thead > tr > th:last-child,
.table-group > table > tbody > tr > td:last-child{
    width: auto;
}


.table-group thead {
    display: block;
    width: 100%;
    overflow-y: scroll;
    background-color: #bcbcbc;
}
	
.table-group tbody.scrollContent {
    display: block;
    overflow-y: scroll;
    height: 400px;
    width: 100%
}
	
.table-group > table > tbody > tr > td > a{
    line-height: 50px;
    text-decoration: underline;
}

.table-group > table > tbody > tr:nth-child(even) {
    background: #f2f2f2;
}

.table-group > table > tbody > tr:nth-child(odd) {
    background: #e4e4e4;
}


.table-group > table > thead > tr,
.table-group > table > tbody > tr {
    width: 100%;
    display: inline-table;
}

.table-group > table > thead::-webkit-scrollbar,
.terms-message::-webkit-scrollbar{
    background-color: #999999;
    border: 0;
}


.table-group tbody.scrollContent::-webkit-scrollbar,
.table-group thead::-webkit-scrollbar,
.terms-message::-webkit-scrollbar {
    width: 12px;
    margin-right: -20px;
}
 
.table-group tbody.scrollContent::-webkit-scrollbar-track,
.terms-message::-webkit-scrollbar {
   -webkit-box-shadow: inset 10px 10px 50px rgba(63, 63, 63, 1);
    border-radius: 10px;
}
 
.table-group tbody.scrollContent::-webkit-scrollbar-thumb,
.terms-message::-webkit-scrollbar {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 130px rgba(178, 178, 178, 1); 
}


.name-balloons {
    float: none;
    margin-left:20px;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 1;
    color: #000;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
}
.approval-content {
    float: none;
    background-color: red;
    margin: 0 auto;
    display: block;
    width: auto;
    
}
.approval-container {
    padding: 0;
    width: 100%;
}

.approval-container > h2,
.approval-container > h4 {
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 20px;
}

.sub-content {
    width: 50%;
    
}
.sub-content h3 {
    font-size: 20px;
}

.sub-content h3,
.sub-content ul{
    margin-left: 35px;
    margin-right: 35px;
    
}

 ul.text-content > li {
    float: none;
    list-style:square inside;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 13px;
}

.form-label{
    font-size: 13px;
}
.form-element > input {
    padding:5px 0;
    width: 280px;
    text-indent: 10px;
}

.form-element > select {
    width: 280px;
    border: 1px solid #afafaf;
}

.form-element > select[disabled] { 
    background-color: #f0f0f0; 
}

.form-element {
    margin-top: 0;
}

.padding-off {
    padding: 0;
}

.sub-right-container {

    padding:20px 20px 20px 20px;
    float: none;
}

.sub-right-container > p{
    color: #F60;
    font-size: 13px; 
}

.btn-container {
    width: 100%;
}

.btn-container  {
    float: none;
    margin-top: 30px;
    text-align: center;
}

.btn-container  span{
    float: none;
}
.print-holder {
    text-align: center;
}

.print-holder > button {
    margin-bottom: 20px;
}
.print-holder > a{
    text-align: center;
    text-decoration: underline;
    font-size: 16px;
    width: 100%;
}

.print-holder > span {
    text-align: left;
    text-decoration: underline;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
}

.right-side-bar-links > li{
    float: none;
    width: 100%;
    text-decoration: underline;
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
    text-align: left;
}

.create-project{
    margin-left:20px !important;
}


.contentHolder {
    width: 100%;
    margin-top: 30px;
    
}

.deleteHolder .delete-message,
.lockHolder .delete-message,
.editHolder .delete-message{
    text-align: center;
    width: 100%;
}

.small-modal {
    width: 380px;
    height: 200px;
}
.modal-buttons {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    }
.modal-buttons > a {
    padding-left: 50px;
    padding-right: 50px;
}

.user-group-table {
    width: 100%;
    margin-top: 50px;
    
    
   
}
.user-group-table table {
    margin: 0 40px;
}

.user-group-table > table > thead > tr > th:first-child {
    font-weight: bold;
}

.user-group-table > table > thead > tr > th:first-child,
.user-group-table > table > tbody > tr > td:first-child{
    width: 20%;
    height: 30px;
    text-align: left;
}

.user-group-table > table > thead > tr > th,
.user-group-table > table > tbody > tr > td{
    text-align: center;
    width: 7%; 
    font-size: 13px;
    line-height: 27px;
    font-weight: normal;
}

.input-textbox {
    width:100%;
    min-height: 200px;
 
}

.form-text {
    text-indent: 5px;
}

.input-images {
    font-size: 13px;
    margin-bottom: 10px;
}

.input-images-sub {
    line-height: 20px;
    float: right;
    font-size: 11px;
    color: #777;
}

.upload-content {
    margin-bottom: 60px;
    width: 100%;
}

.bottom-links > a {
    text-decoration: underline;
    font-size: 13px;
    margin-bottom: 20px;
}



.bottom-links-sub {
    margin-top: 10px;
}



.bottom-links-sub > span {

    font-size: 13px;
    line-height: 30px;
    margin-right: 10px;
}

.bottom-links-sub > select {
    padding: 6px 0px;
    width:80px;
    padding-left:10px;
}

.radio-list div {
    
    
}